{% extends 'layout.html' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
    
    <div class="container">
        <p class="text-right">Vous êtes connecté en tant que {{e}}</p>

        <h1>DWWM Decision Maker</h1>
        <h2>Informations du candidat</h2>
        <form action="/observation/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nom :</label>
                <input type="text" id="name" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="firstname">Prénom :</label>
                <input type="text" id="firstname" class="form-control" name="firstname">
            </div>
            <div class="form-group">
                <label for="birthday">Né(e) le :</label>
                <input type="date" id="birthday" class="form-control" name="birthday">
            </div>
            <div class="form-group">
                <label for="date">Passage devant jury le :</label>
                <input type="date" id="date" class="form-control" name="date">
            </div>
            <div class="form-group">
                <label for="time">à :</label>
                <input type="time" id="time" class="form-control" name="time">
            </div>
            <div class="form-group">
                <label for="school">Organisme de formation :</label>
                <input type="text" id="school" class="form-control" name="school">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Commencer</button>
                <button type="reset" class="btn btn-warning">Annuler</button>
            </div>
        </form>
    </div>
    
{% endblock %}