<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- mettre lien CSS -->
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body>
    <br>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    {% if request.session.auth == True %}
                    <ul class="nav navbar-nav">

                        <li><a href="/home">DWWM DESICION MAKER</a></li>
                        <li><a href="">Ajouter un candidat</a></li>
                        <li><a href="/observation">Evaluer un candidat</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Se déconnecter</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Se connecter</a></li>
                        <li><a href="/register">S'inscrire</a></li>
                    </ul>
                    {% endif %}
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>
    {% block body %}
    {% endblock %}
</body>

<footer>

</footer>

</html>