{% extends 'layout.html' %}

{% block head %}
    <title>Connexion</title>
{% endblock %}

{% block body %}

    {% if msg %}
    <script>
        alert('{{msg}}')
    </script>
    {% endif %}
    <div class="container">
        <h1>Connexion</h1>
        <form action="/login/submit/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail :</label>
                <input type="email" id="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
        <p>Vous n'avez pas encore de compte, <a href="register">inscrivez-vous</a></p>
    </div>
{% endblock %}
