{% extends 'layout.html' %}

{% block head %}
<title></title>
{% endblock %}

{% block body %}

<div class="container">
    <p class="text-right">Vous êtes connecté en tant que {{e}}</p>

    <h1>Observations sur le candidat</h1>
    <!-- a completer apres BDD -->
    <h2>{{name}} {{firstname}}</h2>

    <form action="/resume/" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="firstname" value="{{firstname}}">
        <h3>Maquetter une application.</h3>
        <!-- radio -->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c1a" name="c1" value="Oui">
            <label class="custom-control-label" for="c1a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c1r" name="c1" value="Non">
            <label class="custom-control-label" for="c1r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c1_comment">Observations</label>
            <textarea class="form-control" id="c1_comment" name="c1_comment" rows="3"></textarea>
        </div>

        <h3>Réaliser une interface utilisateur web statique et adaptable.</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c2a" name="c2" value="Oui">
            <label class="custom-control-label" for="c2a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c2r" name="c2" value="Non">
            <label class="custom-control-label" for="c2r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c2_comment">Observations</label>
            <textarea class="form-control" id="c2_comment" name="c2_comment" rows="3"></textarea>
        </div>

        <h3>Développer une interface utilisateur web dynamique.</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c3a" name="c3" value="Oui">
            <label class="custom-control-label" for="c3a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c3r" name="c3" value="Non">
            <label class="custom-control-label" for="c3r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c3_comment">Observations</label>
            <textarea class="form-control" id="c3_comment" name="c3_comment" rows="3"></textarea>
        </div>

        <h3>Réaliser une interface utilisateur avec une solution de gestion de contenu ou e-commerce.</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c4a" name="c4" value="Oui">
            <label class="custom-control-label" for="c4a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c4r" name="c4" value="Non">
            <label class="custom-control-label" for="c4r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c4_comment">Observations</label>
            <textarea class="form-control" id="c4_comment" name="c4_comment" rows="3"></textarea>
        </div>

        <h3>Créer une base de données</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c5a" name="c5" value="Oui">
            <label class="custom-control-label" for="c5a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c5r" name="c5" value="Non">
            <label class="custom-control-label" for="c5r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c5_comment">Observations</label>
            <textarea class="form-control" id="c5_comment" name="c5_comment" rows="3"></textarea>
        </div>

        <h3>Développer les composants d'accès aux données</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c6a" name="c6" value="Oui">
            <label class="custom-control-label" for="c6a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c6r" name="c6" value="Non">
            <label class="custom-control-label" for="c6r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c6_comment">Observations</label>
            <textarea class="form-control" id="c6_comment" name="c6_comment" rows="3"></textarea>
        </div>

        <h3>Développer la partie back-end d'une application web ou web mobile.</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c7a" name="c7" value="Oui">
            <label class="custom-control-label" for="c7a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c7r" name="c7" value="Non">
            <label class="custom-control-label" for="c7r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c7_comment">Observations</label>
            <textarea class="form-control" id="c7_comment" name="c7_comment" rows="3"></textarea>
        </div>

        <h3>Elaborer et mettre en oeuvre des composants dans une application de gestion de contenu ou e-commerce.</h3>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c8a" name="c8" value="Oui">
            <label class="custom-control-label" for="c8a">Acquise</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="c8r" name="c8" value="Non">
            <label class="custom-control-label" for="c8r">A réévaluer</label>
        </div>
        <div class="form-group">
            <label for="c8_comment">Observations</label>
            <textarea class="form-control" id="c8_comment" name="c8_comment" rows="3"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>


    </form>
</div>

{% endblock %}