{% extends 'layout.html' %}

{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Inscription</h1>
    <form action="/register/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">E-mail :</label>
            <input type="email" id="email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
</div>

{% endblock %}