{% extends 'layout.html' %}

{% block head %}
<title>Résumé</title>
{% endblock %}

{% block body %}

<div class="container">
    <p class="text-right">Vous êtes connecté en tant que {{e}}</p>

    <h1>Résumé des observations</h1>
    <h2>Candidat : {{name}} {{firstname}}</h2>

    <table class="table table-striped">
        <thead>
          <tr class="bg-info">
            <th scope="col">Compétence concernée</th>
            <th scope="col">Acquis ?</th>
            <th scope="col">Commentaire</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Maquetter une application.</th>
            <td>{{observation.c1}}</td>
            <td>{{observation.c1_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Réaliser une interface utilisateur web statique et adaptable.</th>
            <td>{{observation.c2}}</td>
            <td>{{observation.c2_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Développer une interface utilisateur web dynamique.</th>
            <td>{{observation.c3}}</td>
            <td>{{observation.c3_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Réaliser une interface utilisateur avec une solution de gestion de contenu ou e-commerce.</th>
            <td>{{observation.c4}}</td>
            <td>{{observation.c4_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Créer une base de données</th>
            <td>{{observation.c5}}</td>
            <td>{{observation.c5_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Développer les composants d'accès aux données</th>
            <td>{{observation.c6}}</td>
            <td>{{observation.c6_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Développer la partie back-end d'une application web ou web mobile.</th>
            <td>{{observation.c7}}</td>
            <td>{{observation.c7_comment}}</td>
          </tr>
          <tr>
            <th scope="row">Elaborer et mettre en oeuvre des composants dans une application de gestion de contenu ou e-commerce.</th>
            <td>{{observation.c8}}</td>
            <td>{{observation.c8_comment}}</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}